table {
	border-spacing: 2px;
}

li.inline {
	display: inline;
}

.epics {
	padding-left: 0px;
}

.epic {
	border: 1px solid #ddd;
	padding: 7px 10px;
	background-color: #F0F0F0;
	color: #000000;
	text-decoration: none;
}

.clicked-epic {
	background-color: #ddd;
}

.epic:hover {
	text-decoration: none;
	color: #000000;
}

.epic-info {
	position: absolute;
	margin-top: 7px;
	padding: 7px 10px;
	border: 1px solid #ddd;
	background-color: #F0F0F0;
	box-shadow: 3px 3px 5px #888888;
}