table {
	border-spacing: 2px;
}

table.aui > tbody > tr > td {
	vertical-align: middle;
}

li.inline {
	display: inline-block;
	margin-top: 8px;
	margin-bottom: 8px;
}

.epics {
	padding-left: 0px;
	display: flex;
	flex-wrap: wrap;
}

.epic {
	border: 1px solid #ddd;
	padding: 7px 10px;
	background-color: #F0F0F0;
	color: #000000;
	text-decoration: none;
	cursor: pointer;
}

.clicked-epic {
	background-color: #ddd;
}

.epic:hover {
	text-decoration: none;
	color: #000000;
}

.pop-up {
	position: absolute;
	border: 1px solid #ddd;
	background-color: #F0F0F0;
	box-shadow: 3px 3px 5px #888888;
}

.epic-info {
	margin-top: 7px;
	padding: 7px 10px;
}

.project-filter {
	width: auto;
	left: 90px;
	top: 69px;
	display: block;
	padding: 5px;
}

.aui-list-scroll {
	max-height: 270px;
	overflow-x: hidden;
	overflow-y: auto;
	clear: both;
}

.item-label {
	font-weight: normal;
}

.aui-list-section {
	padding-left: 0px;
	list-style-type: none;
}

input {
	font-size: 14px;
}

.fullscreen-button {
	position: absolute;
	right: 30px;
	top: 20px;
}

.story {
	padding-left: 10px;
}

#projects th {
	white-space: nowrap;
	vertical-align: middle;
}

/* Filter box animations */

.repeat-item.ng-enter,
.repeat-item.ng-leave { 
    -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
    position: relative;
    display: block;
} 

.repeat-item.ng-leave,
.repeat-item.ng-enter.ng-enter-active {
    opacity: 1;
    right: 0;
    height: 30px;
}

.repeat-item.ng-enter,
.repeat-item.ng-leave.ng-leave-active {
    opacity: 0;
    right: -50px;
    height: 0px;
}

/* Project row animations */

.project-row.ng-move { 
	-webkit-transition: 1s linear all;
	transition: 1s linear all;
	position: relative;
	background: red;
	opacity: 0;
} 

.project-row.ng-move.ng-move-active {
	background: red;
	opacity: 1;
}