<html>
  <head>
    <title>My Epic</title>
    <meta name="decorator" content="atl.general">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-cookies.js"></script>
    $webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicPlugin-resources")
    <script type="text/javascript">
      //replace this with whatever your module ends up being
      var myApp = angular.module('myApp', ['ngAnimate', 'ngCookies']);
    </script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="ProjectController" ng-click="hideEpicInfo()" class="content-container content-body">
    	<button ng-click="toggleFullScreen()" class="fullscreen-button">
    		Full
    	</button>
	    <ul id="projects" ng-style="{height: (getTableHeight() + 'px')}" class="aui-list-section">
	      <li id="top-element">
	        <ul class="inline table-header">
	          <li class="project-column">
	          	<span class="fieldLabel">Projects</span>
	          	<span ng-click="toggleFilter($event)" class="criteria-selector aui-button aui-button-subtle drop-arrow">
	          		filter
	          	</span>
	          	<div ng-show="filter" ng-click="$event.stopPropagation()" class="project-filter pop-up">
			    	<form action="#" class="searchfilter aui top-label aui-popup-content project-criteria">
			    		<input type='text' ng-model='searchText.name' autocomplete="off" placeholder="Find Projects..." class="aui-field" wrap="off">
			    		<p>
			    			<button ng-click="clearchkbox()">Clear</button>
			    			<button ng-click="checkchkbox()">Check All</button>
			    		</p>
			    		<div class="aui-list-scroll">
			    			<ul class="aui-list-section">
			    				<li ng-repeat="project in alphabeticalProjects() | filter:searchText" class="check-list-item repeat-item">
			    					<label class="item-label" title="{{project.name}}">
			    						<input type="checkbox" ng-click="checkProject(project)" ng-init="project.included=project.state" ng-model='project.included'>
			    						{{project.name}}
			    					</label>
			    				</li>
			    			</ul>
			    		</div>
			    	</form>
			    </div>
	          </li>
	          <li class="contributor-column">Contributors</li>
	          <li class="completed-story-column">Stories Completed</li>
	          <li class="last-update-column">Last Update 
	          	<select ng-model='filterDays' ng-change='getProjects(filterDays * 24 * 60 * 60)'>
  					<option value="1">1 day</option>
 				 	<option value="2">2 days</option>
  					<option value="7">7 days</option>
  					<option value="14">14 days</option>
  					<option value="21">21 days</option>
				</select>
	           </li>
	          <li class="epic-column">Epics</li>
	        </ul>
	      </li>
	      <li class="project-row" ng-style="{width: (getTableWidth() + 'px'), top: (getTop(project) + 'px')}" ng-repeat="project in timeOrderedProjects() | filter: {included:true}" id="{{project.id}}">
	      	<ul class="inline table-row">
	      		<li class="project-name project-column"><a href="{{getBaseURL()}}/browse/{{project.key}}">{{project.name}}</a></li>
	      		<li class="contributor-column">
	      			<ul class="list inline">
	      				<li ng-repeat="contributor in project.contributors">
	      					<img src="{{contributor.avatar}}" title="{{contributor.name}}" height="24" width="24">
	      				</li>
	      			</ul>
	      		</li>
	      		<li class="completed-story-column">{{getCompletedStories(project)}}</li>
	      		<li class="last-update-column">{{millisecondToString(project.timestamp)}}</li>
	      		<li class="epic-column">
	      			<ul class="list inline" ng-controller="EpicController">
	      				<li ng-repeat="epic in project.epics" ng-init="setUniqueId(epic)">
	      					<a ng-class="{'clicked-epic': isClicked(epic.id)}" class="epic" ng-click="toggleEpic($event, epic.id)">
	      						{{epic.name}}
	      					</a>
	      					<div class="epic-info pop-up aui-list-scroll" ng-show="isClicked(epic.id)" ng-click="$event.stopPropagation()">
	      						<p>{{epic.description}}</p>
	      						<p>Stories:</p>
	      						<ul class="aui-list-section">
	      							<li class="story" ng-repeat="story in epic.stories">
	      								<a href="{{getBaseURL()}}/browse/{{story.key}}">{{story.name}}</a>
	      							</li>
	      						</ul>
	      					</div>
	      				</li>
	      			</ul>
	      		</li>
	      	</ul>
	      </li>
    	</ul>
    </div>
  </body>
</html>
