<html>
<head>
	<title>Epic Details</title>
	<meta name="decorator" content="atl.general">
	$webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicDetails-resources")
</head>
<body>
	<h1>Hello World!</h1>
</body>
</html>
