<html>
  <head>
    <title>My Epic</title>
    <meta name="decorator" content="atl.general">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular-animate.js"></script>
    $webResourceManager.requireResource("com.cobalt.jira.plugin.epic.EpicPlugin:EpicPlugin-resources")
    <script type="text/javascript">
      //replace this with whatever your module ends up being
      var myApp = angular.module('myApp', ['ngAnimate']);
    </script>
  </head>
  <body>
    <div ng-app="myApp" ng-controller="ProjectController" ng-click="hideEpicInfo()" class="content-container content-body">
    	<button ng-click="toggleFullScreen()" class="fullscreen-button">
    		Full
    	</button>
	    <table id="projects" class="aui">
	      <thead>
	        <tr>
	          <th>
	          	<span class="fieldLabel">Projects</span>
	          	<span ng-click="toggleFilter($event)" class="criteria-selector aui-button aui-button-subtle drop-arrow">
	          		filter
	          	</span>
	          	<div ng-show="filter" ng-click="$event.stopPropagation()" class="project-filter pop-up">
			    	<form action="#" class="searchfilter aui top-label aui-popup-content project-criteria">
			    		<input type='text' ng-model='searchText.name' autocomplete="off" placeholder="Find Projects..." class="aui-field" wrap="off">
			    		<div class="aui-list-scroll">
			    			<ul class="aui-list-section">
			    				<li ng-repeat="project in alphabeticalProjects() | filter:searchText" class="check-list-item repeat-item">
			    					<label class="item-label" title="{{project.name}}">
			    						<input type="checkbox" ng-click="project.state=!project.state" ng-init="project.included=project.state" ng-model='project.included'>
			    						{{project.name}}
			    					</label>
			    				</li>
			    			</ul>
			    		</div>
			    	</form>
			    </div>
	          </th>
	          <th>Project Id</th>
	          <th>Project Key</th>
	          <th>Last Update (
	          	<select ng-model='filterDays'>
  					<option value="1">1</option>
 				 	<option value="2">2</option>
  					<option value="7">7</option>
  					<option value="14">14</option>
				</select>
	           Days)
	           </th>
	          <th>Epics</th>
	        </tr>
	      </thead>
	      <tbody>
	      	<tr class="project-row" ng-repeat="project in timeOrderedProjects() | filter: {included:true}">
	      		<td class="project-name"><a href="{{getBaseURL()}}/browse/{{project.key}}">{{project.name}}</a></td>
	      		<td>{{project.id}}</td>
	      		<td>{{project.key}}</td>
	      		<td>{{millisecondToString(project.timestamp)}}</td>
	      		<td>
	      			<ul class="epics" ng-controller="EpicController">
	      				<li class="inline" ng-repeat="epic in project.epics" ng-init="setUniqueId(epic)">
	      					<a ng-class="{'clicked-epic': isClicked(epic.id)}" class="epic" ng-click="toggleEpic($event, epic.id)">
	      						{{epic.name}}
	      					</a>
	      					<div class="epic-info pop-up aui-list-scroll" ng-show="isClicked(epic.id)" ng-click="$event.stopPropagation()">
	      						<p>{{epic.description}}</p>
	      						<p>Stories:</p>
	      						<ul class="aui-list-section">
	      							<li class="story" ng-repeat="story in epic.stories">
	      								<a href="{{getBaseURL()}}/browse/{{story.key}}">{{story.name}}</a>
	      							</li>
	      						</ul>
	      					</div>
	      				</li>
	      			</ul>
	      		</td>
	      	</tr>
	      </tbody>
    	</table>
    </div>
  </body>
</html>
